In [2]:
import random

In [3]:
random.choice([2,44,55,66])

2

In [4]:
random.choice(["aa","bb","cc"])

'bb'

<h3> Objects and Booleans </h3>

In [5]:
type(True)

bool

In [6]:
type(False)

bool

In [7]:
True or False

True

In [8]:
True and True

True

In [9]:
True and False

False

In [10]:
not True

False

In [11]:
not False

True

In [12]:
2<4

True

In [13]:
2 <= 2

True

In [14]:
2 ==2

True

In [15]:
2 != 2

False

In [16]:
[2,3] == [3,3]

False

In [17]:
[2,3] is [2,3]

False

In [18]:
2.0 == 2.0

True

In [19]:
2.0 == 2

True

In [21]:
[2,3] is not [2,3]

True

In [22]:
2.0 == 2.0

True

In [23]:
True and not False is True

True

<h3> List </h3>

In [24]:
numbers = [2,4,6,8]

In [28]:
numbers[0]
#numbers[1]

2

In [29]:
numbers[-1]

8

In [30]:
numbers.append(10)

In [31]:
numbers

[2, 4, 6, 8, 10]

In [32]:
x = [12, 14, 16]

In [33]:
numbers + x

[2, 4, 6, 8, 10, 12, 14, 16]

In [34]:
type(_)

list

In [35]:
numbers = [1,3,5,7,11,13,17,19,23]

In [38]:
numbers.reverse()

In [39]:
numbers

[23, 19, 17, 13, 11, 7, 5, 3, 1]

In [48]:
names= ["Zofia", "Alex", "Morgan", "Anthony"]

In [49]:
names.sort()

In [50]:
names

['Alex', 'Anthony', 'Morgan', 'Zofia']

In [51]:
names.reverse()

In [52]:
names

['Zofia', 'Morgan', 'Anthony', 'Alex']

In [53]:
sorted_names = sorted(names)

In [54]:
names

['Zofia', 'Morgan', 'Anthony', 'Alex']

In [55]:
sorted_names

['Alex', 'Anthony', 'Morgan', 'Zofia']

In [56]:
len(names)

4

<h2> Tuples </h2>

In [57]:
T = (1,3,5,7)

In [58]:
len(T)

4

In [59]:
T + (9 ,11)

(1, 3, 5, 7, 9, 11)

In [60]:
T[1]

3

In [61]:
x = 12.23

In [62]:
y = 23.34

In [63]:
coordinate = (x,y)

In [64]:
type(coordinate)

tuple

In [65]:
coordinate

(12.23, 23.34)

In [66]:
(c1, c2) = coordinate

In [67]:
c1

12.23

In [68]:
c2

23.34

A list that consist in tupples

In [69]:
coordinates = [(0,0), (1,1), (2,4), (3,9), (4,16), (5,25), (6,36), (7,49), (8,64), (9,81)]

In [71]:
for (x,y) in coordinates:
    print(x,y)

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81

In [72]:
c = (2,3)

In [73]:
type(c)

tuple

In [74]:
c = (2)

In [75]:
type(c)

int

In [76]:
a = (1,2,3)

In [77]:
c = (2,)

In [78]:
type(c)

tuple

In [79]:
type(a)

tuple

<h3> Ranges </h3>

In [81]:
range(5)

range(0, 5)

In [82]:
list(range(5))

[0, 1, 2, 3, 4]

In [83]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [84]:
list(range(1,13,2))

[1, 3, 5, 7, 9, 11]

<h3> Strings </h3>

In [85]:
S = "Python"

In [86]:
len(S)

6

In [87]:
S[0]

'P'

In [88]:
S[-1]

'n'

In [89]:
S[0:3]

'Pyt'

In [92]:
S[-3]

'h'

In [93]:
S[-3:]

'hon'

In [94]:
"y" in S

True

In [95]:
"Y" in S

False

In [96]:
12 + 12

24

In [97]:
"hello" + "world"

'helloworld'

In [98]:
S = "Python"

In [99]:
3 * S

'PythonPythonPython'

In [101]:
"eight equals" + "8"

'eight equals8'

In [102]:
"eight equals" + str(8)

'eight equals8'

In [103]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [104]:
str.replace?

In [105]:
str.replace?

In [106]:
name = "Tina Fey"

In [107]:
name.replace("T", "t")

'tina Fey'

In [108]:
type(names)

list

In [109]:
len(names)

4

In [110]:
names[0]

'Zofia'

In [111]:
names[2]

'Anthony'

In [112]:
type(names[0])

str

In [114]:
names[0].upper()

'ZOFIA'

In [115]:
names[1].lower()

'morgan'

<h2> Sets </h2>

In [116]:
ids = set()

In [117]:
ids = set([1,2,4,6,7,8,9])

In [118]:
len(ids)

7

In [119]:
ids.add(10)

In [120]:
ids

{1, 2, 4, 6, 7, 8, 9, 10}

In [121]:
ids.add(2)

In [122]:
ids

{1, 2, 4, 6, 7, 8, 9, 10}

In [123]:
ids.pop()

1

In [124]:
ids.pop()

2

In [125]:
ids = set(range(10))

In [126]:
ids

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [127]:
males = set([1,3,5,6,7])

In [128]:
females = ids - males

In [129]:
type(females)

set

In [130]:
females

{0, 2, 4, 8, 9}

In [131]:
males

{1, 3, 5, 6, 7}

In [132]:
everyone = males | females

In [133]:
everyone

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [134]:
everyone & set([1,2,3])

{1, 2, 3}

In [136]:
word = "antidisestablismentarism"

In [137]:
letters = set(word)

In [138]:
len(letters)

11

<h3> Dictionaries </h3>

In [139]:
age = {}

In [140]:
age = dict()

In [142]:
age = {"Tim": 25, "Jim": 39, "Pam":27, "Sam":35}

In [143]:
age["Pam"]

27

In [145]:
age["Tim"] = age["Tim"] + 1

In [147]:
age["Tim"] += 1

In [148]:
age["Tim"]

27

In [149]:
names = age.keys()

In [150]:
type(names)

dict_keys

In [151]:
age["Tom"] = 50

In [152]:
names

dict_keys(['Tim', 'Jim', 'Pam', 'Sam', 'Tom'])

In [153]:
age.values()

dict_values([27, 39, 27, 35, 50])

In [154]:
ages = age.values()

In [155]:
ages

dict_values([27, 39, 27, 35, 50])

In [157]:
age["Nick"] = 31

In [158]:
names

dict_keys(['Tim', 'Jim', 'Pam', 'Sam', 'Tom', 'Nick'])

In [159]:
"Tom" in age

True

In [160]:
"Zofia" in age

False